.custom-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.custom-input--about {
  display: flex;
  flex-direction: row;
}


.custom-input__field {
  outline: none;
  border: none;
  font-family: inherit;
  padding: 0 32px 12px 0;
  font-size: 18px;
  line-height: 1.2;
  border-bottom: 1px solid #CACACA;
  width: 100%;
  font-weight: 400;
}

.custom-input__field-text {
  padding: 0 0 80px 0;
}


.custom-input__field-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  transform: translateY(50%);
}

.custom-input__label {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #1919EF;
}

.custom-input__field::placeholder {
  color: #9B9B9B;
}

.custom-input--flat {
  width: 100%;
  grid-column: span 2;
}

.custom-input-text--flat {
  margin: 0 0 60px 0;
}

.custom-input__field--flat {
  width: 100%;
}

.custom-input--checkbox {
  display: flex;
  gap: 30px;
  width: 100%;
}

.custom-input__wrapper--checkbox {
  display: flex;
  gap: 20px;
}

.custom-input__field--radio {
  width: 100%;
}