.form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__group {
    position: relative;
    border: none;
    padding: 0;;
}

.form__group-name {
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    color: #000000;
    margin: 0 0 60px 0;
}

.form__group-name-icon {
    border: 1px solid #acb5bd;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.form__group-inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 60px;
    column-gap: 80px;
    width: 100%;
    margin: 0 0 60px 0;
    height: 100%; 
  }

.form__group-inner-link {
    margin: 0 0 60px 0;
}

.form__group-inner-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
}

.form__group-name-icon {
    width: 20px;
    height: 20px;
}

.form__group-checkbox-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin: 0 0 40px 0;
}

.form__group-checkbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form__group-input-checkbox {
    position: absolute;;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.form__group-label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
}

.form__group-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(172, 181, 189, 1);
    border-radius: 4px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.form__group-label::after {
    content: "";
}

.form__group--radio {
    width: 50%;
    margin: 0 0 40px 0;
}

.form__group--radio-from {
    margin: 0 0 40px 0;
}

.form__group--message {
    margin: 0 0 60px 0;
}

.form__personal-data {
    display: flex;
    align-items: center;
    margin: 0 0 83px 0;
}

.form__personal-data-agree {
    display: flex;
    margin: 0 0 80px 0;
    position: relative;
}

.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form__button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(25, 25, 239, 0.4);
    border-radius: 60px;
    padding: 11px 36px;
    background-color: #ffffff;
    color: rgba(25, 25, 239, 0.4);
    cursor: pointer;
    width: 166px;
}


.form__arrow-button {
    border: none;
    cursor: pointer;
    background-color: unset;
    position: fixed;
    right: 120px;
    bottom: 140px;
}

.form__personal-data-input {
    position: relative;
    border: 0;
    overflow: hidden;
    clip: (0 0 0 0);
    clip-path: inset(100%);
}

.form__group-input-checkbox:checked + .form__group-label .form__group-icon-checked {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(50%, 60%);
    width: 10;
    height: 7px;
}

.form__group-input-checkbox:checked + .form__group-label:before {
    border: 1px solid blue;
}

.form__group-icon-checked {
    display: none;
}


.form__personal-data-text {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #9B9B9B;
}

.form__personal-data-text-link {
    border-bottom: 1px solid #9B9B9B;
}


.form__personal-data-label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
}

.form__personal-data-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(172, 181, 189, 1);
    border-radius: 4px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
 
.form__personal-icon-checked {
  display: none; 
} 

.form__personal-data-input:checked + .form__personal-data-label .form__personal-icon-checked {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}